@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');

/** Sider Style **/
.menu-item span{
  font-size: 16px;
}

/** Header Style **/
.trigger {
  font-size: 22px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 64px;
  line-height: 60px;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 16px;
  overflow: hidden;
  transition: all 3ms;
  transition-timing-function: linear;
}

.logo img {
  height: 48px;
  display: inline-block;
}

.logo h1 {
  display: inline-block;
  color: #000;
  font-size: 24px;
  margin-left: 10px;
  font-family: 'Black Ops One', cursive;
}

.header-menu {
  float: right;
  overflow: hidden;
  padding-right: 10px;
}

.header-menu-items {
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
}

.header-menu-items:hover {
  background-color: #f9f9f9;
}

.header-notice {
  width: 18px;
  height: 18px;
  font-size: 16px;
}

.logo-language {
  margin-right: 5px;
  margin-bottom: 4px;
}

/** Content style **/


/** Login style **/
.login-wrapper {
  height: 100vh;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-title {
  color: #fff;
}

.login-link, .login-link:hover {
  color: #0077FF;
  padding: 0;
}

.login-form {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5)
}

@media (min-width: 768px) {
  .login-form {
    padding: 30px 50px;
  }

  .login-forgot-pwd {
    text-align: right;
  }
}

@media (max-width: 767px) {
  .login-form {
    padding: 15px 20px;
  }
}